// -------------------------------------------------------------------------------- 
// ---------- Buttons no text icon only -------------------------------------------
// -------------------------------------------------------------------------------- 
.i-button {
    @include inline-block;
    font-size: 1em;
    height: 1.2em;
    vertical-align: middle;
}

.i-button .text {
    @include el_off_screen;
}

.i-button .icon {
    color: $color-orange;
}