.section-release-details {
	width:100%;
	float:left;
}

.axis .domain {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}

.infobox {
    color:black;
    font-size:1.2em;
}

.column {
	min-height:10em;
	background:white;
}

.column rect {
	stroke: white;
	cursor:pointer;
}